%h2= t('devise.confirmations.account_activation_title')
= simple_form_for resource, as: resource_name, url: update_user_confirmation_path, html: {method: 'patch'}, id: 'activation-form' do |f|
  = f.error_notification
  %fieldset
    - if @requires_password
      %p
        = f.label :password, t('devise.passwords.choose_password')
        = f.password_field :password
      %p
        = f.label :password_confirmation, t('devise.passwords.password_confirmation')
        = f.password_field :password_confirmation
    = hidden_field_tag :confirmation_token, @confirmation_token
    %p= f.submit t('devise.links.activate')
