.my-account
  .col-md-8.col-md-offset-1
    %h4
      = link_to '', manager_reports_root_path, title: t('common.back'), class: 'icon-back'
      = t('manager.reports.user_activity.header')
    %table.table.saapp-table
      %thead
        %th= t('manager.users.index.table.headers.display_name')
        %th= t('common.email')
        %th= t('common.experience')
      %tbody
        - users.each do |user|
          %tr
            %td= user.display_name
            %td= user.email
            %td= user.score
