.my-account
  .col-md-8.col-md-offset-1
    %div{'ng-app' => 'editProductGroupApp', 'ng-controller' => 'editProductGroupCtrl'}
      %h4= t('manager.product_groups.edit.header', name: product_group.name)
      %label= t('common.name')
      %input.form-control{'ng-model' => 'productGroup.name', type: 'text', autofocus: true}
      %ul.product-groups
        %li{'ng-repeat' => 'argument in arguments'}
          %span{'ng-hide' => 'argument.is_editable'}
            {{argument.feature}} - {{argument.benefit}}
          .row{'ng-show' => 'argument.is_editable'}
            .col-sm-5
              %input.form-control{'ng-model' => 'argument.feature', type: 'text'}
            .col-sm-5
              %input.form-control{'ng-model' => 'argument.benefit', type: 'text'}
            .col-sm-2
              %a.btn-icon.icon-trash{'ng-show' => 'argument.is_removable', 'ng-click' => 'removeArgument(argument)'}

      %form{name: 'newArgumentForm', 'ng-submit' =>'addArgument()'}
        %h4= t('manager.product_groups.edit.add_argument')
        .row
          .col-sm-6
            %label= t('common.feature')
            %input.form-control{'ng-model' => 'argument.feature', type: 'text', required: true}
          .col-sm-6
            %label= t('common.benefit')
            %input.form-control.add-benefit{'ng-model' => 'argument.benefit', type: 'text', required: true}
            %span.add-benefit-submit
              %input{type: 'submit'}
        .pull-right
          = link_to t('common.cancel'), manager_product_groups_path, class: 'btn btn-dark'
          %span.or
            = t('common.or')
          %button.btn.btn-primary{type: 'button', 'ng-click' => 'submitProductGroup()', 'ng-disabled' => 'canSaveProductGroup()'}
            = t('common.save_changes')
