.my-account
  .col-md-8.col-md-offset-1
    %h4= t('manager.tabs.product_groups')
    %table.table.table-striped.saapp-table
      %thead
        %th= t('manager.product_groups.index.table.headers.product_group_name')
        %th= t('manager.product_groups.index.table.headers.features_count')
        %th= t('manager.product_groups.index.table.headers.actions')
      %tbody
        - product_groups.each do |product_group|
          %tr
            %td= product_group.name
            %td= product_group.arguments_count
            %td.text-center
              = product_group.publishing_link
              = product_group.edit_link
              = product_group.removal_link
    = paginate product_groups

    = simple_form_for [:manager, product_group] do |f|
      .row
        .col-md-7
          = f.input :name
        .col-md-5
          = f.submit class: 'btn btn-primary f-right'
