.my-account
  .col-sm-9.col-md-8.col-md-offset-1
    %h4= t('manager.tabs.product_groups')
    %table.table.saapp-table-product-groups
      %thead
        %th{style: 'width: 40px'}
        %th= t('manager.product_groups.index.table.headers.product_group_name')
        %th= t('manager.product_groups.index.table.headers.arguments_count')
        %th
          .table-actions= t('manager.product_groups.index.table.headers.actions')
      %tbody.sortable
        - product_groups.each do |product_group|
          %tr{data: {id: product_group.id}}
            %td
              %span.ui-icon.ui-icon-arrowthick-2-n-s
              = product_group.position
            %td= product_group.name
            %td= product_group.arguments_count
            %td.text-center
              = product_group.publishing_link
              = product_group.edit_link
              = product_group.removal_link
    = paginate product_groups

    = simple_form_for [:manager, product_group] do |f|
      .row-dark
        .col-md-7
          = f.input :name, label: false, placeholder: t('manager.product_groups.index.table.headers.product_group_name')
        .col-md-5
          = f.submit class: 'btn btn-primary btn-block'

:javascript
  $(function() {
    $('.sortable').sortable({
      placeholder: "ui-state-highlight",
      axis: "y",
      update: function(event, ui) {
        alert(ui.item.index() + 1);
        var blockedUI = $.blockUI({message: null});
        $.post(Routes.sort_manager_product_group_path(ui.item.data('id')), {position: ui.item.index() + 1}, function(data) {
        }).always(function() {
          $.unblockUI();
        });
      }
    });
    $('.sortable').disableSelection();
  });
