.landing-page.col-md-8
  %h2= t('landing.header')

  %ul.landing-list
    %li.icon-progress Sell more
    %li.icon-money Save money
    %li.icon-time Save time
    %li.icon-gain Gain confidence
    %li.icon-set Easy use  5 min setup

  %h3= ('landing.free_30')
  .landing-form
    - if guest?
      = simple_form_for wizard, method: :get, url: new_wizard_path  do |f|
        = f.input :email
        = f.submit t('helpers.submit.wizard.create'), class: 'btn btn-primary'
    .clearfix

.landing-mobile.col-md-4
.clearfix

.landing-testimonials.col-md-12
  %h3= t('landing.testimonials_header')

  / testimonials demo contents start /

  .col-md-3.col-md-offset-1.testimonial
    %p Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
    %p Gumbo beet greens corn soko endive gumbo gourd.

    .testimonial-photo
      %img{src: "/assets/person-1.png"}/

    .testimonial-author
      %h4 Veggies es bonus
      %h5 lorem ipsum dolor

    .clearfix

  .col-md-3.col-md-offset-1.testimonial
    %p Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
    %p Gumbo beet greens corn soko endive gumbo gourd.

    .testimonial-photo
      %img{src: "/assets/person-2.png"}/

    .testimonial-author
      %h4 Veggies es bonus
      %h5 lorem ipsum dolor

    .clearfix

  .col-md-3.col-md-offset-1.testimonial
    %p Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
    %p Gumbo beet greens corn soko endive gumbo gourd.

    .testimonial-photo
      %img{src: "/assets/person-3.png"}/

    .testimonial-author
      %h4 Veggies es bonus
      %h5 lorem ipsum dolor

    .clearfix

  / testimonials demo contents end /
