.landing-page.col-md-8
  %h2= I18n.t('landing.header')

  %ul.landing-list
    %li.icon-progress Sell more
    %li.icon-money Save money
    %li.icon-time Save time
    %li.icon-gain Gain confidence
    %li.icon-set Easy use  5 min setup

  %h3= I18n.t('landing.free_30')
  .landing-form
    - if guest?
      = simple_form_for wizard, method: :get, url: new_wizard_path  do |f|
        = f.input :email
        = f.submit t('helpers.submit.wizard.create'), class: 'btn btn-primary'
    .clearfix

  %h3= I18n.t('landing.testimonials_header')

.landing-mobile.col-md-4