.landing-page.col-md-8
  %h2= t('landing.header')

  %ul.landing-list
    %li.icon-progress= t('landing.selling_points.sell_more')
    %li.icon-money= t('landing.selling_points.save_money')
    %li.icon-time= t('landing.selling_points.save_time')
    %li.icon-gain= t('landing.selling_points.gain_confidence')
    %li.icon-set= t('landing.selling_points.easy_setup')

  %h3= t('landing.free_30')
  .landing-form
    - if guest?
      = simple_form_for wizard, method: :get, url: localized_path(I18n.locale, new_wizard_path)  do |f|
        = f.input :email, autofocus: true, input_html: {tabindex: 1}
        = f.submit t('helpers.submit.wizard.create'), class: 'btn btn-primary', tabindex: 2
    .clearfix

.landing-mobile.col-md-4
.clearfix

.landing-testimonials.col-md-12
  %h3= t('landing.testimonials_header')

  / testimonials demo contents start /

  .col-md-3.col-md-offset-1.testimonial
    %p Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
    %p Gumbo beet greens corn soko endive gumbo gourd.

    .testimonial-photo

    .testimonial-author
      %h4 Veggies es bonus
      %h5 lorem ipsum dolor

    .clearfix

  .col-md-3.col-md-offset-1.testimonial
    %p Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
    %p Gumbo beet greens corn soko endive gumbo gourd.

    .testimonial-photo

    .testimonial-author
      %h4 Veggies es bonus
      %h5 lorem ipsum dolor

    .clearfix

  .col-md-3.col-md-offset-1.testimonial
    %p Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
    %p Gumbo beet greens corn soko endive gumbo gourd.

    .testimonial-photo

    .testimonial-author
      %h4 Veggies es bonus
      %h5 lorem ipsum dolor

    .clearfix

  / testimonials demo contents end /
