.landing-page.col-md-8
  %h2= t('landing.header')

  %ul.landing-list
    %li.icon-progress= t('landing.selling_points.sell_more')
    %li.icon-money= t('landing.selling_points.save_money')
    %li.icon-time= t('landing.selling_points.save_time')
    %li.icon-gain= t('landing.selling_points.gain_confidence')
    %li.icon-set= t('landing.selling_points.easy_setup')

  - if guest?
    %h2= t('landing.free_30')
    .landing-form.clearfix
      = simple_form_for wizard, method: :get, url: localized_path(I18n.locale, new_wizard_path)  do |f|
        = f.input :email, autofocus: true, input_html: {tabindex: 1}
        = f.submit t('helpers.submit.wizard.create'), class: 'btn btn-primary', tabindex: 2

.landing-mobile.col-md-4
.clearfix

- if cms_site
  = raw cms_site.root_page_content
