.my-account
  .col-md-8.col-md-offset-1
    = simple_form_for [:manager, user] do |f|
      = f.input :email
      = f.input :display_name
      = f.input :manager, as: :boolean
      .pull-right
        = link_to t('common.cancel'), manager_users_path, class: 'btn btn-dark'
        %span.or
          = t('common.or')
        = f.button :submit, t('common.save_changes'), class: 'btn-primary'
