.my-account
  .col-sm-9.col-md-8.col-md-offset-1
    %h4= t('manager.tabs.users')
    %table.table.saapp-table-users
      %thead
        %th= t('manager.users.index.table.headers.email')
        %th= t('manager.users.index.table.headers.display_name')
        %th= t('manager.users.index.table.headers.role')
        %th
          .table-actions= t('manager.users.index.table.headers.actions')
      %tbody
        - users.each do |user|
          %tr
            %td= user.email
            %td= user.display_name
            %td= user.role
            %td.text-center
              = user.edit_link
              = user.removal_link
    = paginate users

    = simple_form_for [:manager, user] do |f|
      .row-dark
        .col-md-12
          .row
            .col-md-6
              = f.input :email, label: false, placeholder: t('manager.users.index.table.headers.email')
            .col-md-6
              = f.input :display_name, label: false, placeholder: t('manager.users.index.table.headers.display_name')
        .col-md-12
          = f.input :invitation_message, label: false, as: :text, placeholder: t('manager.users.index.optional_invitation')
        .col-md-12.clearfix
          = f.submit class: 'btn btn-primary f-right'
