.my-account
  .col-md-8.col-md-offset-1
    %h4
      = link_to '', manager_reports_root_path, title: t('common.back'), class: 'icon-back'
      = t('manager.reports.argument_ranking.header')
    %table.table.saapp-table-arguments
      %thead
        %th= t('common.feature')
        %th= t('common.benefit')
        %th= t('common.rating')
      %tbody
        - arguments.each do |arguemnt|
          %tr
            %td= arguemnt.feature
            %td= arguemnt.benefit
            %td= arguemnt.cached_rating
