.my-account
  .col-md-8.col-md-offset-1
    %h4
      = link_to '', manager_reports_root_path(locale: I18n.locale), title: t('common.back'), class: 'icon-back'
      = t('manager.reports.argument_ranking.header')
      .timestamp-toggle
        = check_box_tag :show_timestamp
        = t('manager.reports.argument_ranking.show_timestamp')

    - arguments.group_by(&:product_group_id).each do |_, arguments|
      %h4= arguments.first.product_group_name

      %table.table.saapp-table-arguments
        %thead
          %th= t('common.feature')
          %th= t('common.benefit')
          %th= t('common.rating')
          %th
        %tbody
          - arguments.each do |argument|
            %tr
              %td= argument.feature
              %td
                = argument.benefit
                .timestamp{style: 'display:none;'}
                  = argument.owner_with_timestamp

              %td= argument.formatted_rating
              %td= argument.link_to_destroy

:javascript
  $(function() {
    $('#show_timestamp').change(function() {
      $('.timestamp').toggle();
    });
  });
