%table.table.table-striped
  %thead
    %th= t('manager.categories.index.table.headers.category_name')
    %th= t('manager.categories.index.table.headers.features_count')
    %th= t('manager.categories.index.table.headers.actions')
  %tbody
    - categories.each do |category|
      %tr
        %td= category.name
        %td= category.features_count
        %td
          = category.publishing_link
          = category.removal_link
          = category.edit_link
= paginate categories

= simple_form_for [:manager, category] do |f|
  = f.input :name
  = f.submit
