!!!
%html{lang: I18n.locale}
  %head
    %meta{:charset => 'utf-8'}
    %title= t('application_name')
    = include_gon
    %meta{content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport'}
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}
    %meta{content: ENV['APP_NAME'], name: 'description'}
      = desktop_favicon_link_tag 196
      = desktop_favicon_link_tag 160
      = desktop_favicon_link_tag 96
      = desktop_favicon_link_tag 32
      = desktop_favicon_link_tag 16
      = desktop_favicon_link_tag
      = apple_favicon_link_tag 'precomposed'
      = apple_favicon_link_tag 152
      = apple_favicon_link_tag 144
      = apple_favicon_link_tag 120
      = apple_favicon_link_tag 114
      = apple_favicon_link_tag 76
      = apple_favicon_link_tag 72
      = apple_favicon_link_tag 60
      = apple_favicon_link_tag 57
      = apple_favicon_link_tag
      %meta{name: 'msapplication-TileColor', content: '#00a300'}
      %meta{name: 'msapplication-TileImage', content: '/mstile-144x144.png'}

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = phrase_javascript(Phrase.auth_token)
    = csrf_meta_tags
  %body
    .navbar
      .container
        .navbar-header
          = link_to '', localized_path(I18n.locale, root_path), title: t('application_name'), class: 'navbar-brand'
          %button.navbar-toggle.collapsed{data: {toggle: 'collapse', target: '.bs-navbar-collapse'}, type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .collapse.navbar-collapse.bs-navbar-collapse
          %ul.nav.navbar-nav
            - cms_static_pages.each do |page|
              %li{class: request.path[page.full_path] ? 'active' : nil}
                = link_to page.label, localized_cms_page_path(page)
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in? && !current_user.admin?
              %li
                .logged-as
                  .logged-as-label
                    = t('navbar.logged_as')
                  = current_user.email
              %li
                = link_to t('navbar.my_account_link'), manager_root_path
            %li
              - if user_signed_in?
                - if current_user.admin?
                  = link_to t('navbar.admin_link'), admin_root_path
              - else
                = link_to t('navbar.login_link'), new_user_session_path(locale: I18n.locale)
            - if user_signed_in?
              %li
                = link_to t('navbar.logout_link'), destroy_user_session_path, method: 'delete'
            %li.language
              %button.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
                = image_tag locale_flag_filename(I18n.locale)
              %ul.dropdown-menu{role: 'menu'}
                - I18n.available_locales.each do |locale|
                  %li
                    = link_to language_path(lang: locale), method: :patch do
                      = image_tag locale_flag_filename(locale)
                      = locale.to_s.upcase

    .container
      - flash.each do |name, msg|
        = content_tag :div, :class => "alert alert-#{ flash_message_color(name) } alert-dismissable" do
          %button.close{type: 'button', data:{dismiss: 'alert'}, aria: {hidden: 'true'} } &times;
          = msg
      = yield(:top) if content_for?(:top)
      = yield

    %footer
      .container
        .col-md-2
          = raw cms_site.footer_snippet_content(:footer_column_1) if cms_site

        .col-md-2
          = raw cms_site.footer_snippet_content(:footer_column_2) if cms_site

        .col-md-2
          = raw cms_site.footer_snippet_content(:footer_column_3) if cms_site

        .col-md-2.col-md-offset-1
          %h2
            =  mail_to t('footer.support_link'), t('footer.support'), class: 'support icon-mail'

        .col-md-3.footer-logo
          %h3 BetterSalesman
          %p © 2014

    = render partial: 'shared/analytics_script' if Rails.env.production? && !user_signed_in?
