= content_for :top do
  .my-account
    %h2= t('navbar.my_account_link')
    %ul.nav.nav-tabs.col-md-3
      %li{class: ('active' if controller_name == 'profiles')}
        = link_to t('manager.tabs.my_profile'), edit_manager_profile_path
      %li{class: ('active' if controller_name == 'product_groups')}
        = link_to t('manager.tabs.product_groups'), manager_product_groups_path
      %li{class: ('active' if controller_name == 'users')}
        = link_to t('manager.tabs.users'), manager_users_path
      %li{class: ('active' if request.path['/reports'])}
        = link_to t('manager.tabs.reports'), manager_reports_root_path
      %li{class: ('active' if request.path['/billing'])}
        = link_to t('manager.tabs.billing'), "javascript:$('#external_billing_system').submit()"
    = render partial: 'manager/saasy/billing_form'

= render template: 'layouts/application'
